<div class="flex items-center justify-between font-mono">
    <a href="/" class="text-140 ps-8 font-semibold">
        SOLOMON.
    </a>
    <!-- <div class="absolute bottom-8 left-8 font-mono space-y-4">
        <a href="/" class="pr-4">Home</a>
        <a href="/" class="pr-4">Projects</a>
        <a href="/" class="pr-4">Resume</a>
        <a href="/" class="pr-4">Contacts</a>
    </div> -->
    <div class="absolute bottom-8 left-8 font-mono space-y-4 text-lg">
        <a href="/about" class="block hover:bg-blue-100">About</a>
        <a href="/projects" class="block hover:bg-blue-100">Projects</a>
        <a href="/resume" class="block hover:bg-blue-100">Resume</a>
        <a href="/contacts" class="block hover:bg-blue-100">Contacts</a>
    </div>
</div>
